*~
*.sw*
.bin
.git
.gitignore
.bundleignore
.bundle
.byebug_history
.rspec
.yarn-integrity
.DS_Store
arn-debug.log*
config/deploy
log
node_modules
public/packs
public/packs-test
public/uploads
public/assets
test
tmp
yarn-error.log
