[Unit]
Description=Puma HTTP Forking Server
After=network.target

[Service]
# Background process configuration (use with --daemon in ExecStart)
Type=forking

# Preferably configure a non-privileged user
User=rism

# The th to the puma application root
# Also replace the "<WD>" place holders below with this path.
WorkingDirectory=/home/rism/prod/current/

# The command to start Puma
ExecStart=/home/rism/.rvm/bin/rvm default do bundle exec puma -C /home/rism/prod/shared/puma.rb --daemon

# The command to stop Puma
ExecStop=/home/rism/.rvm/bin/rvm default do bundle exec pumactl -S /home/rism/prod/shared/tmp/pids/puma.state -F /home/rism/prod/shared/puma.rb stop

# Path to PID file so that systemd knows which is the master process
PIDFile=/home/rism/prod/shared/tmp/pids/puma.pid

# Should systemd restart puma?
# Use "no" (the default) to ensure no interference when using
# stop/start/restart via `pumactl`.  The "on-failure" setting might
# work better for this purpose, but you must test it.
# Use "always" if only `systemctl` is used for start/stop/restart, and
# reconsider if you actually need the forking config.
Restart=on-failure

[Install]
WantedBy=default.target
