= caption @records
= index_search :id_str_or_name_or_organization_name_or_user_name_cont
= render 'search_form'
= render 'download_search_form' if ['index', 'search'].include?(params[:action])
br
= render('search_filters/user_search_filters',
  search_filters: @search_filters,
  records: @records)
= index_new_button @records, organization_id: @organization.id
= render 'records', records: @records
= render 'index_paginate', records: @records
