= caption @delivery_list
= render 'delivery_lists/show_tabs', record: @delivery_list, active_tab: :delivery_list_members, from_external_link: true
= index_search :organization_name_cont, delivery_list_id_eq: @delivery_list.id
= render 'records'
= render 'index_paginate', records: @records
