= caption @organization
= render 'organizations/show_tabs', record: @organization, active_tab: :departments, from_external_link: true
= render 'tree_records', records: @records
= render 'index_paginate', records: @records
