= caption @organization
= render 'organizations/show_tabs', record: @organization, active: :departments
= index_new_button @records, organization_id: @organization.id, parent_id: @department.id
= render 'records', records: @records
= render 'index_paginate', records: @records
