= caption @delivery_list
= render 'delivery_lists/show_tabs', record: @delivery_list, active_tab: :delivery_recipients, from_external_link: true
= render 'records', records: @records
= render 'index_paginate', records: @records
