database_trim:
  cron: "0 1 * * *" # clear old data (cookies, users actions logs etc.) from DB
  class: 'DatabaseTrimJob'
  queue: 'default'
  args:
    queue: 'default'
sync_nvd_base:
  cron: "*/30 * * * *" # execute local NVD base synchronization at every 30 minutes
  class: 'SyncNvdBaseJob'
  queue: 'sync_nvd_base'
  args:
    queue: 'sync_nvd_base'
