= caption @records
= index_search :start_str_or_finish_str_or_scan_job_name_or_agent_name_or_queue_or_jid_or_status_cont
= render 'records', records: @records
= render 'index_paginate', records: @records
