= caption @role
= render 'roles/show_tabs', record: @role, active_tab: :rights, from_external_link: true
= index_new_button @records, role_id: @role.id
= render 'records', records: @records
= render 'index_paginate', records: @records
