= caption @investigation
= render 'investigations/show_tabs', record: @investigation, active_tab: :indicators, from_external_link: true
= index_search :investigation_feed_codename_or_investigation_custom_codename_or_content_format_str_or_trust_level_str_or_purpose_str_or_created_at_reverse_str_or_creator_name_or_content_cont, investigation_id_eq: @investigation.id
- if current_user.admin_editor? || current_user.can?(:edit, 'Indicator')
  = render 'new_button', investigation_id: @investigation.id
= report_button_for @records
= render 'records', records: @records
= render 'index_paginate', records: @records
