= caption @records
= index_search :ioc_kind_str_or_trust_level_str_or_created_at_reverse_str_or_organization_name_or_user_name_or_content_or_investigation_full_nfull_ame_cont
= render 'records', records: @records
= render 'index_paginate', records: @records
