// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.form-group.required .control-label:after {
    content: " *";
    color: red;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

a:visited {color: #337ab7;}
