// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap-sprockets";
@import "bootswatch/slate/variables";
@import "bootstrap";
@import "bootswatch/slate/bootswatch";

.form-group.required .control-label:after {
    content: " *";
    color: red;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

#a:visited {color: #337ab7;}
