= caption @organization
= render 'organizations/show_tabs', record: @organization, active: :organizations
= index_new_button @records, organization_id: @organization.id
= render 'records', records: @records
= render 'index_paginate', records: @records
