- useable_brokers.each do |broker|
  = link_to(enrichments_path(enrichmentable_type: enrichmentable,
    enrichmentable_id: enrichmentable.id,
    broker_name: broker.broker_name),
    data: {confirm: t('views.action.confirm')},
    method: :post,
    remote: true,
    class: 'btn btn-link') do
      span.btn.btn-success
        = Enrichment.human_enum_name(:broker, broker.broker_name)
